@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");

$font-size-0: 1.5rem;
$font-size-1: 1rem;

* {
  font-family: "Nunito Sans", sans-serif;
}

button {
  background-color: rgb(127, 114, 156);
  padding: 3rem;
  padding-left: 8rem;
  padding-right: 8rem;
  text-align: center;
  border-radius: 15px;
  font-size: larger;
}

body {
  background-color: rgb(204, 204, 204);
}

.CharacterName {
  font-size: $font-size-0;
  font-weight: bold;
  padding-top: 1rem;
}

.DialogText {
  padding: 3rem;
  font-size: $font-size-1;
  font-style: italic;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 0.897);
}

.QuoteDisplay {
  text-align: center;
}

.DisableTextSelection {
  user-select: none; /* For Chrome and Opera */
  -ms-user-select: none; /* For Internet Edge and Explorer*/
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -khtml-user-select: none; /* Konqueror HTML */
}

@media screen and (max-width: 375px) {
  body {
    padding: 0.5rem;
  }
}